{% extends "global/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'tarefas/css/style.css' %}">
{% endblock head %}

{% block conteudo %}
    <header class='container-fluid header'>
        <h1>Minhas Tarefas </h1>
        <a href = "{% url 'adicionar' %}" class="btn btn-secondary">Adicionar Tarefa</a>
    </header>
    <div class="container">
        {% if tarefas %}
        
        {% for t in tarefas %}
        <div class= "container-tarefa">
            <div class="container-content">
                <h3>{{t.titulo}}</h3>
                <span>{{t.data_criacao}}</span>
            </div>
            <form action="{% url 'excluir' t.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Excluir</button>
            </form>
        </div>
        {% endfor %}
        
        {% else %}
        <center>
            <br/>
            <br/>
            <h2> Você não tem tarefas</h2>
        </center>
        {% endif %}
    </div>
{% endblock conteudo %}
